@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap');
*,body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
}
.login{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .wrapper{
    width: 25%;
    .user{
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      input{
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        outline: none;
        padding: 8px;
      }
    }
    button{
      padding: 8px 16px;
      width: 100%;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      color: white;
      background-color: #7858A6;
    }
  }
}
.Quizzes{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 64px;
  .AppBar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    .search{
      input{
        padding: 8px 16px;
      }
      button{
        padding: 8px;
      }
    }
    .add{
      width: 40px;    
      font-weight: bold;
      color: white;
      font-size: large;
      border: none;
      background-color: #7858A6;
      border-radius: 8px;
    }
  }
  .card{
    margin-top: 40px;
  }
}
.AddMatkul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 64px;
}
.AddQuiz{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 64px;
  .AppBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .name{
    width: 50%;
    display: flex;
    flex-direction: column;
    input{
      margin-bottom: 16px;
    }
  }
  .qna{
    margin-top: 24px;
    
  }
}
.AddIndie{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 64px;
  .AppBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .quizName{
    margin-bottom: 24px;
  }
}
.content{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  textarea{
    resize: none;
    height: 16em;
  }
  hr{
    margin-top: 16px;
  }
}